@import "./reset.css";

:root {
  --light-blue-bg: #1892d3;
  --light-grey: #e1e8f0;
}

body {
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-areas:
    "sidebar header header"
    "sidebar main aside";
  grid-template-columns: 350px 3fr 1fr;
}

.sidebar {
  background-color: var(--light-blue-bg);
  color: white;
  grid-area: sidebar;
  padding-top: 16px;
  display: grid;
  grid-template: repeat(3, min-content) / 1fr;
  gap: 64px;
  .icon {
    filter: invert(100%);
    justify-self: center;
  }
  h1 {
    display: grid;
    grid-template-columns: 80px 1fr;
    font-weight: 600;
  }
  ul {
    padding-left: 0;
    font-weight: 500;
    font-size: 1.5rem;
    display: grid;
    gap: 16px;
    li {
      list-style-type: none;
      display: grid;
      grid-template-columns: 80px 1fr;
      align-items: center;
    }
  }
}

header {
  grid-area: header;
  background-color: white;
  padding: 24px 48px;
  box-shadow: 0px 4px 8px lightgrey;
  display: grid;
  gap: 32px;
  font-weight: bold;
  & .row {
    align-items: center;
    display: grid;
    &:nth-child(1) {
      grid-template-columns: 1fr repeat(3, max-content);
      & .icon {
        margin-right: 24px;
      }
    }
    &:nth-child(2) {
      grid-auto-flow: column;
      grid-template-columns: max-content 7fr repeat(3, 1fr);
      button {
        width: 90%;
        appearance: none;
        border: none;
        color: white;
        background-color: var(--light-blue-bg);
        padding: 12px;
        border-radius: 24px / 50%;
        justify-self: right;
      }
    }
  }
}

.avatar {
  border-radius: 50%;
  margin-right: 24px;
}

.full-profile-name {
  font-size: 1.5rem;
}

search {
  display: grid;
  grid-template-columns: max-content 80%;
  align-items: center;
}

input[type="search"] {
  appearance: none;
  border: none;
  background-color: var(--light-grey);
  border-radius: 16px / 50%;
  outline: none;
  padding: 8px 16px;
}

main {
  grid-area: main;
}

aside {
  grid-area: aside;
}
