@import "./reset.css";

:root {
  --light-blue-bg: #1892d3;
  --light-grey: #e1e8f0;
  --light-orange: #f1b329;
}

body {
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-areas:
    "sidebar header header"
    "sidebar main aside";
  grid-template-columns: 350px 3fr 1fr;
}

.sidebar {
  background-color: var(--light-blue-bg);
  color: white;
  grid-area: sidebar;
  padding-top: 16px;
  display: grid;
  grid-template: repeat(3, min-content) / 1fr;
  gap: 64px;
  .icon {
    filter: invert(100%);
    justify-self: center;
  }
  h1 {
    display: grid;
    grid-template-columns: 80px 1fr;
    font-weight: 600;
  }
  ul {
    padding-left: 0;
    font-weight: 500;
    font-size: 1.5rem;
    display: grid;
    gap: 16px;
    li {
      list-style-type: none;
      display: grid;
      grid-template-columns: 80px 1fr;
      align-items: center;
    }
  }
}

header {
  grid-area: header;
  background-color: white;
  padding: 24px 48px;
  box-shadow: 0px 4px 8px lightgrey;
  display: grid;
  gap: 32px;
  font-weight: bold;
  z-index: 1;
  & .row {
    align-items: center;
    display: grid;
    &:nth-child(1) {
      grid-template-columns: 1fr repeat(3, max-content);
      & .icon {
        margin-right: 24px;
      }
    }
    &:nth-child(2) {
      grid-auto-flow: column;
      grid-template-columns: max-content 7fr repeat(3, 1fr);
      button {
        width: 90%;
        appearance: none;
        border: none;
        color: white;
        background-color: var(--light-blue-bg);
        padding: 12px;
        border-radius: 24px / 50%;
        justify-self: right;
      }
    }
  }
}

.avatar {
  border-radius: 50%;
  margin-right: 24px;
}

.full-profile-name {
  font-size: 1.5rem;
}

search {
  display: grid;
  grid-template-columns: max-content 80%;
  align-items: center;
}

input[type="search"] {
  appearance: none;
  border: none;
  background-color: var(--light-grey);
  border-radius: 16px / 50%;
  outline: none;
  padding: 8px 16px;
}

main {
  grid-area: main;
  background-color: var(--light-grey);
  padding: 48px 24px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content;
  gap: 32px;
  grid-auto-rows: 1fr;
  & .card {
    border-left: 8px solid var(--light-orange);
    & .actions {
      width: 40%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      position: absolute;
      bottom: 32px;
      right: 32px;
      > .icon {
        justify-self: flex-end;
      }
    }
  }
}

h2 {
  grid-column: 1 / -1;
  margin-bottom: -16px;
  font-weight: 600;
}

.card {
  box-shadow: 2px 2px 4px lightgrey;
  background-color: white;
  border-radius: 8px;
  padding: 32px;
  position: relative;
}

.project-name,
.description {
  color: grey;
}

aside {
  grid-area: aside;
  background-color: var(--light-grey);
  display: grid;
  /* 
    I've tried grid-template-rows: repeat(2, auto 1fr)
    to make both cards the same height but liked what
    I got without it more
  */
  padding: 48px 48px 48px 0;
  gap: 32px;
}

hr {
  margin: 16px 0;
  border-color: var(--light-grey);
}

aside div:nth-of-type(1) {
  display: grid;
  > .description + h3 {
    border-top: 1px solid grey;
    padding-top: 12px;
  }
  > h3 + .description {
    margin-bottom: 12px;
  }
  > .description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

aside > div:nth-of-type(2) {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  row-gap: 16px;
}

@media (max-width: 50rem) {
  body {
    grid-template-areas:
      "sidebar"
      "header"
      "main"
      "aside";
    grid-template-columns: 1fr;
  }
  .sidebar {
    gap: 8px;
    padding: 8px;
    align-items: center;
    grid-template-rows: auto;
    nav {
      display: none;
    }
    h1 {
      grid-template-columns: max-content 1fr;
      &::after {
        content: "≡";
        position: absolute;
        right: 16px;
        top: calc(-2rem + 16px);
        color: white;
        font-size: 4rem;
      }
    }
  }
  header {
    padding: 8px;
    gap: 8px;
    div:first-of-type {
      grid-template: 1fr 1fr / 24px 72px 1fr;
      gap: 8px;
      search {
        grid-column: 1 / -1;
      }
    }
    & .row:nth-child(2) {
      grid-template-columns: repeat(3, 1fr);
      & .avatar,
      & .greeting {
        display: none;
      }
      button {
        justify-self: center;
      }
    }
  }
  main {
    grid-template-columns: 1fr;
    padding: 16px 8px 0 8px;
    & .card {
      padding-bottom: 64px;
    }
  }
  aside {
    padding: 32px 8px 16px 8px;
    gap: 16px;
    h2 {
      margin-bottom: 0;
    }
  }
}
